body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0d0d0d;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}